h2 {
    color: #680091;
}

div {
    width: 30%;
    height: 50px;
    font-size: 30px;
    align-self: center;
    margin: 0 auto;
}

input[type=text],
input[type=email], 
input[type=senha]{
    background-color: #680091;
    color: #f1f1f1;
    width: 98%;
    height: 20px;
    margin: 2%;
}

::placeholder{
    color: #f1f1f1;
}

button[type=submit],
button[type=button] {
    background-color: #680091;
    color: #f1f1f1;
    border-color: #f1f1f1;
    width: 100%;
    height: 30px;
    margin: 2%;
}

button[type=submit]:hover,
button[type=button]:hover {
    background-color: #f1f1f1;
    color: #680091;
    border-color: #680091;
}

input[type=text]:focus,
input[type=email]:focus, 
input[type=senha]:focus {
    background-color: #f1f1f1;
    color: #680091;
    border-color: #680091;
    transform: scale(1.2);
}